# ---------- .NET ----------
bin/
obj/
*.user
*.suo
*.rsuser
.vs/
TestResults/
*.trx
coverage*.xml
appsettings.*.local.json

# ---------- Node / React ----------
node_modules/
dist/
build/
coverage/
.vite/
*.tsbuildinfo
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# ---------- Entorno y secretos ----------
.env
.env.*
!.env.example

# ---------- Editores y SO ----------
.idea/
.vscode/*
!.vscode/extensions.json
*.swp
.DS_Store
Thumbs.db
